<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Old vs new svg binding syntax demo
  </h1>

  <!-- Does not work -->
  <div>
    <h2>This is the old way. It does not work as of Angular 9</h2>
    <p>
      Approach taken from <a href="https://stackoverflow.com/questions/42957204/angular-2-svg-pass-height-and-width-dynamically">this (old) StackOverflow example</a>
    </p>
    <ul>
      <li>
        The <code>svg</code> element receives default sizing instead of the supplied pixel values when using the <code>[attr.width.px]="var"</code> syntax.
      </li>
      <li>
        The <code>circle</code> element does not get rendered due to supplying the radius using the <code>[attr.r.px]="r"</code> syntax.
      </li>
    </ul>
    <svg
      [attr.width.px]="width"
      [attr.height.px]="height"
    >
      <rect width="100%" height="100%" fill="gray" />
      <circle
        cx="50%"
        cy="50%"
        [attr.r.px]="r"
        stroke="green"
        [style.stroke-width]="stroke"
        fill="yellow"
      />
    </svg>
  </div>


  <!-- Does work -->
  <div>
    <h2>This is the new way.</h2>
    <ul>
      <li>
        The <code>svg</code> element receives the supplied pixel values when using the <code>[attr.width]="var"</code> syntax.
      </li>
      <li>
        The <code>circle</code> element gets rendered when supplying the radius using the <code>[attr.r]="r"</code> syntax.
      </li>
    </ul>
    <svg
      [attr.width]="width"
      [attr.height]="height"
    >
      <rect width="100%" height="100%" fill="gray" />
      <circle
        cx="50%"
        cy="50%"
        [attr.r]="r"
        stroke="green"
        [style.stroke-width]="stroke"
        fill="yellow"
      />
    </svg>
  </div>
</div>
